#nmx-status-bar.nmx-element {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999999;

  height: 40px;
  padding: 0;

  justify-content: center;

  box-shadow: 0px 2px 12px 4px rgb(0 0 0 / 75%);
}

body.has-nmx-status-bar {
  padding-top: 40px !important;
  transition: padding 0.5s ease-in-out !important;
}
