*,
*:before,
*:after {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
}

body {
	background: rgb(38, 38, 38);
	color: rgb(238 239 233);
	font-family: -apple-system, ".SFNSText-Regular", "Helvetica Neue", "Roboto", "Segoe UI",
		sans-serif;
}

#app {
	width: 300px;
	padding: 24px 36px;
}
