*,
*:before,
*:after {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
}

body {
	background: var(--main-background-color);
	color: var(--main-text-color);
}

#app {
	width: 300px;
	padding: 24px 36px;
}
